* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 200px;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

s {
    color: gray;
}

.top-btn {
    background: linear-gradient(50deg, orange 0%,orange 50%, rgb(125, 55, 0) 100%);
    border: none;
    border-radius: 10px;
    padding: 2.5px 5px;
}