* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 25px;
}

.links {
    display: flex;
    gap: 50px;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

main {
    margin-top: 100px;
}

header button {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
}

.peak {
    font-size: 100px;
    line-height: 75px;
    margin-left: 250px;
}

.peak-p {
    margin-top: 50px;
    margin-left: 1000px;
}